{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="body">        
        <div class="back-link">
            <a href="{{ url_for('projects') }}">← Back to All Projects</a>
        </div>

        <header class="project-header">
            <h2>{{ title }}</h2>
            <hr>
        </header>
        <div class="project-body">
            {{ content | safe }}
            <!-- The '| safe' filter tells Jinja to render the HTML content converted from Markdown instead of escaping them -->
        </div>

        <!-- Project Tags -->
        {% if tags %}
        <div class="project-tags">
            <p class="tags"><em>{{ tags | join(", ") }}</em></p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}