{% extends 'base.html' %}
{% block title %}Projects & Experiences{% endblock %}
{% block content %}
    <div class="container">
        <h1>What I've Built</h1>
        <div class="entry-wrapper">
            <p>
            This space highlights a curated collection of my software engineering projects, data architectures, and creative designs. My approach bridges rigid technical execution with business strategy and human-centered problem solving. Below, you will find how I utilize full-stack development, backend design, and strategic thinking to build scalable systems and meaningful products.
            </p>
        {%- for entry in entries %}
        <div class="entry-overview">
        <div class="date">{{ format_date(entry.pub_date) }}</div>
        <div class="detail">
            <h1><a href="{{ url_for('project_detail', entry=entry.slug) }}">{{ entry.title }}</a></h1>
            {% if entry.summary %}
            <div class="summary">{{ entry.summary }}</div>
            {% endif %}
            {% if entry.tags %}
            <p class="tags"><em>{{ entry.tags | join(", ") }}</em></p>
            {% endif %}
        </div>
        </div>
        {%- endfor %}  
    </div>
    </div>
{% endblock %}